* text=auto
.gitattributes text eol=lf
.editorconfig text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pth binary
*.npz binary
*.ipynb text eol=lf
